@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1;
}

body{
    font-family: "Readex Pro";
}

/* div label input[type="radio"]:checked ~ span,
  div label input[type="checkbox"]:checked ~ span {
    box-shadow: 0 2px 20px white;
  } */

  :root {
    --saffron: #FF9933;
    --white: #FFFFFF;
    --indiaGreen: #138808;
  }
  
  .bg-gradient-to-b {
    background-image: linear-gradient(to bottom, var(--saffron), var(--white), var(--indiaGreen));
  }
  
  .text-darkPink {
    color: #D23669; 
  }
  
/* Target the input elements within the Input components */
.Input input::placeholder {
  color: #D23669; /* Replace with the exact shade of dark pink you want */
}
