---
import Layout from "../layouts/Layout.astro";
import { Typing } from "../components/Typing";
---

<Layout title="IryDev Tinder Clone Template | Home Page">
  <section class="text-center p-5">
    <h1 class="text-white text-[10vw] font-[700]">Swipe Right</h1>
    <h2 class="text-white text-[5vw] font-[100] my-3 italic">
      Get connected with your soulmate and LOVE 
      <Typing aria-hidden="true" client:load />
    </h2>
    <a
      href="/register"
      title="JOIN US"
      class="block lg:inline-block text-xl rounded-[30px] py-3 px-16 font-bold bg-gradient-to-r lg:border-0 text-white from-darkPink to-coralRed"
      >JOIN US NOW</a
    >
    <a
      href="/login"
      title="Login page"
      class="block text-white text-xl font-bold my-2 rounded-[30px] py-3 bg-transparent border-2 border-white lg:hidden"
      >Login</a
    >
  </section>
</Layout>
