---
import Layout from "../layouts/Layout.astro";
import FormLayout from "../layouts/Form-layout.astro";
import Input from "../components/Input.astro";
import Radio from "../components/Radio-checkbox.astro";

const hobbies = [
  "cooking",
  "sport",
  "reading",
  "music",
  "dance",
  "astronomy",
  "series",
  "photo",
  "travel",
  "cinema",
  "gaming",
  "drawing",
];
---

<Layout title="IryDev Tinder Clone Template | Register Page">
  <FormLayout>
    <h1 class="text-white text-[40px] my-8 font-bold uppercase">
      Create an account
    </h1>
    <p class="text-white mt-8 text-center">
      We need informations to help you to found your love
    </p>
    <form action="" method="POST">
      <h2 class="text-white text-[25px] font-bold uppercase">
        Tell us more about yourself
      </h2>
      <div class="main-informations">
        <Input
          name="name"
          type="text"
          placeholder="Name"
          aria-label="Enter your name"
        />

        <Input
          type="email"
          placeholder="Email address"
          aria-label="Enter your email address"
          name="email"
        />

        <Input
          name="password"
          type="password"
          placeholder="Password"
          aria-label="Enter a password"
        />
      </div>

      <h3 class="text-white text-[20px] my-2 font-bold">Your gender :</h3>
      <div class="gender radio">
        <Radio type="radio" name="user-gender" value="man" />
        <Radio type="radio" name="user-gender" value="woman" />
      </div>

      <h3 class="text-white text-[20px] my-2 font-bold">You Search</h3>
      <div class="gender radio">
        <Radio type="radio" name="search-gender" value="man" />
        <Radio type="radio" name="search-gender" value="woman" />
      </div>

      <h3 class="text-white text-[20px] my-2 font-bold">Your Hobbies :</h3>
      <div class="hobbies radio">
        {
          hobbies.map((hobby) => (
            <Radio type="checkbox" name="hobbies" value={hobby} />
          ))
        }
      </div>

      <input
        class="bg-white text-darkPink font-bold w-full rounded-[30px] px-5 py-4 my-2 cursor-pointer"
        type="submit"
        value="Create an account"
      />
    </form>
    <p class="text-white">
      Already have an account ?
      <a class="underline" href="/login">Login</a>
    </p>
  </FormLayout>
</Layout>
