<div
  class="z-10 form-container flex items-center py-4 flex-col justify-center h-screen w-full rounded-none bg-gradient-to-r from-darkPink to-coralRed lg:h-[600px] lg:w-[450px] lg:rounded-xl shadow-lg"
>
  <div class="form-content text-center overflow-y-scroll p-8">
    <slot />
  </div>
</div>
